/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 100px 0;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #1e90ff;
  font-size: 2.2rem;
}